{% extends 'layout.html' %}
{% load static %}
<!--TODO: Rename classes/profiles-->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/get.css' %}" type="text/css" />
{% endblock %}


{% block content %}
    <div class="viewport">
        <header>
           <h1 class="page-title"> {{ location.name }} </h1>
           <div class="path">{{ path }}</div>
           <a href="/tocs/" class="back-button"><i class="fas fa-arrow-left"></i> Back</a>
        </header>
        <a href="/tocs/">TOCS Enemy Database</a>
        <div class="users-container">
                    <table class="users-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Level</th>
                            <th>Boss</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for monster in enemy %}
                        {% if location.name == monster.location.name %}
                        <tr>
                            {% if monster.spoiler %}
                            <td class="user-name"><a href="/tocs/{{ monster.location.name }}/{{ monster.name }}"><span class="spoiler">{{ monster.name }}</span></a></td>
                            {% else %}
                            <td class="user-name"><a href="/tocs/{{ monster.location.name }}/{{ monster.name }}"><span>{{ monster.name }}</span></a></td>
                            {% endif %}
                            <td class="user-location"><span>{{ monster.level }}</span></td>
                            <td colspan="2" style="white-space:nowrap"><span class="icon" title="Boss Icon">
                            {% if monster.boss %}
                                <img alt="Critical.png" src="{% static 'images/Critical.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
        </div>
        <p>
        <a href="/index" class="back-to-users" style="padding-bottom: 20px;"><i class="fas fa-arrow-left"></i> <span>Back to Site</span></a>
        </p>
    </div>

{% endblock %}
