{% extends 'layout.html' %}
{% load static %}
<!--TODO: Rename classes/files-->

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    <div class="viewport">
    {% include 'header.html' %}
        {{ enemy.location.name }}
        <div class="container">
            <div class="account-header">
                <img class="user-avatar" style="height: 150px; width: 150px;" src="https://mturner-static.s3.amazonaws.com/static/images{{enemy.profile_pic.url}}" alt="profile">
                <div class="account-details">
                    <h2 class="username">{{ enemy.name }}</h2>
                    <div class="user-personal-info">
                        <div class="user-title meta"> <span>LV: {{ enemy.level }}</span></div>
                        <div class="user-title meta"> <span>HP: {{ enemy.HP }}</span></div>
                        <div class="user-location meta"> <span>EXP: {{ enemy.EXP }}</span></div>
                    </div>
                    <div class="user-social-profiles">
                        <div class="user-title meta"> <span>STR {{ enemy.STR }}</span></div>
                        <div class="user-title meta"> <span>DEF {{ enemy.DEF }}</span></div>
                        <div class="user-title meta"> <span>ATS {{ enemy.ATS }}</span></div>
                        <div class="user-title meta"> <span>ADF {{ enemy.ADF }}</span></div>
                        <div class="user-title meta"> <span>SPD {{ enemy.SPD }}</span></div>
                        <div class="user-title meta"> <span>ATS {{ enemy.ATS }}</span></div>
                    </div>
                </div>
                {% if enemy.boss %}
                        <img alt="Critical.png" src="{% static 'images/Critical.png' %}" decoding="async" width="25" height="25" style="margin-left: auto ; margin-top: -3px;vertical-align: text-top;">
                {% endif %}
            </div>

            <p class="user-bio">{{ enemy.bio }}</p>
            <div style="display: flex; margin-left:auto;margin-right:auto;">
                <div style="flex: 33.3%; padding: 5px;">
                    <table>
                        <tbody>
                        <tr><td colspan="10" class="article-table-sub-header"><h3>Elemental Efficacy</h3></td></tr>
                            <tr><td colspan="2" style="white-space:nowrap"><span class="icon" title="Earth Element"><img alt="Earth (Sen Element).png" src="{% static 'images/Earth_Element.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.earth_efficacy }}</span> <div style="background:#444444;width:100px;height:12px;border:1px solid #232323;border-radius:3px;display:inline-block;background:-webkit-linear-gradient(#3d3d3d,#525252);background:linear-gradient(#3d3d3d,#525252)"><div style="background:#e69c63;width:{{ earth }}px;height:12px;background:-webkit-linear-gradient(#b67f5b,#f1b17e);background:linear-gradient(#b67f5b,#f1b17e)"></div></div></td><td colspan="2" style="white-space:nowrap"></td>
                            {% if enemy.time_efficacy %}
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Time Element"><img alt="Time_Element.png" src="{% static 'images/Time_Element.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.time_efficacy }}</span> <div style="background:#444444;width:100px;height:12px;border:1px solid #232323;border-radius:3px;display:inline-block;background:-webkit-linear-gradient(#3d3d3d,#525252);background:linear-gradient(#3d3d3d,#525252)"><div style="background:#a5aab0;width:{{ time }}px;height:12px;background:webkit-linear-gradient(#868990,#b7bcc2);background:linear-gradient(#868990,#b7bcc2);"></div></div></td></tr>
                            {% endif %}
                            <tr><td colspan="2" style="white-space:nowrap"><span class="icon" title="Water Element"><img alt="Water (Sen Element).png" src="{% static 'images/Water_Element.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.water_efficacy }}</span> <div style="background:#444444;width:100px;height:12px;border:1px solid #232323;border-radius:3px;display:inline-block;background:-webkit-linear-gradient(#3d3d3d,#525252);background:linear-gradient(#3d3d3d,#525252)"><div style="background:#859dc5;width:{{ water }}px;height:12px;background:-webkit-linear-gradient(#707e9d,#97adcd);background:linear-gradient(#707e9d,#97adcd)"></div></div></td><td colspan="2" style="white-space:nowrap"></td>
                             {% if enemy.time_efficacy %}
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Space Element"><img alt="Space_Element.png" src="{% static 'images/Space_Element.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.space_efficacy }}</span> <div style="background:#444444;width:100px;height:12px;border:1px solid #232323;border-radius:3px;display:inline-block;background:-webkit-linear-gradient(#3d3d3d,#525252);background:linear-gradient(#3d3d3d,#525252)"><div style="background:#e6e0a6;width:{{ space }}px;height:12px;background:-webkit-linear-gradient(#bab58f,#fdf7c8);background:linear-gradient(#bab58f,#fdf7c8)"></div></div></td></tr>
                             {% endif %}
                            <tr><td colspan="2" style="white-space:nowrap"><span class="icon" title="Fire Element"><img alt="Fire (Sen Element).png" src="{% static 'images/Fire_Element.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.fire_efficacy }}</span> <div style="background:#444444;width:100px;height:12px;border:1px solid #232323;border-radius:3px;display:inline-block;background:-webkit-linear-gradient(#3d3d3d,#525252);background:linear-gradient(#3d3d3d,#525252)"><div style="background:#c7848e;width:{{ fire }}px;height:12px;background:-webkit-linear-gradient(#9c6f76,#d097a0);background:linear-gradient(#9c6f76,#d097a0)"></div></div></td><td colspan="2" style="white-space:nowrap"></td>
                            {% if enemy.time_efficacy %}
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Mirage Element"><img alt="Mirage Element.png" src="{% static 'images/Mirage_Element.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.mirage_efficacy }}</span> <div style="background:#444444;width:100px;height:12px;border:1px solid #232323;border-radius:3px;display:inline-block;background:-webkit-linear-gradient(#3d3d3d,#525252);background:linear-gradient(#3d3d3d,#525252)"><div style="background:#e6e6e6;width:{{ mirage }}px;height:12px;background:-webkit-linear-gradient(#bbbaba,#ffffff);background:linear-gradient(#bbbaba,#ffffff)"></div></div></td></tr>
                            {% endif %}
                        <tr><td colspan="2" style="white-space:nowrap"><span class="icon" title="Wind Element"><img alt="Wind (Sen Element).png" src="{% static 'images/Wind_Element.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.wind_efficacy }}</span> <div style="background:#444444;width:100px;height:12px;border:1px solid #232323;border-radius:3px;display:inline-block;background:-webkit-linear-gradient(#3d3d3d,#525252);background:linear-gradient(#3d3d3d,#525252)"><div style="background:#9ac686;width:{{ wind }}px;height:12px;background:-webkit-linear-gradient(#809c73,#afd6a0);background:linear-gradient(#809c73,#afd6a0)"></div></div></td><td colspan="2"></td></tr>
                        </tbody>
                    </table>
                </div>
                <div style="flex: 33.3%; padding: 5px;">
                    <table>
                        <tbody>
                        <tr><td colspan="4" class="article-table-sub-header"><h3>Unbalance Efficacy</h3></td></tr>
                            <tr><td colspan="2" style="white-space:nowrap; padding-top:3px"><span class="icon" title="Slash Type"><img alt="Slash_attack_type.png" src="{% static 'images/Slash_Attack_Type.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: middle;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.slash }}</span></td></tr>
                            <tr><td colspan="2" style="white-space:nowrap; padding-top:3px"><span class="icon" title="Thrust Type"><img alt="Thrust_attack_type.png" src="{% static 'images/Thrust_Attack_Type.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: middle;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.thrust }}</span></td></tr>
                            <tr><td colspan="2" style="white-space:nowrap; padding-top:3px"><span class="icon" title="Pierce Type"><img alt="Pierce_attack_type.png" src="{% static 'images/Pierce_Attack_Type.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: middle;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.pierce }}</span></td></tr>
                            <tr><td colspan="2" style="white-space:nowrap;"><span class="icon" title="Strike Type"><img alt="Strike_attack_type.png" src="{% static 'images/Strike_Attack_Type.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: bottom;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.strike }}</span></td></tr>
                        </tbody>
                    </table>
                </div>
                <div style="flex: 33.3%; padding: 5px;">
                    <table>
                        <tbody>
                        <tr><td colspan="6" class="article-table-sub-header"><h3>Status Efficacy</h3></td></tr>
                            <tr>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Poison Status"><img alt="Poison Status" src="{% static 'images/Poison_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.poison_efficacy }}</span></td>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Burn Status"><img alt="Burn Status" src="{% static 'images/Burn_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.burn_efficacy }}</span></td>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Deathblow Status"><img alt="Deathblow Status" src="{% static 'images/Deathblow_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.deathblow_efficacy }}</span></td>
                            </tr>
                        <tr>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Seal Status"><img alt="Seal Status" src="{% static 'images/Seal_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.seal_efficacy }}</span></td>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Freeze Status"><img alt="Freeze Status" src="{% static 'images/Freeze_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.freeze_efficacy }}</span></td>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Nightmare Status"><img alt="Nightmare Status" src="{% static 'images/Nightmare_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.nightmare_efficacy }}</span></td>
                        </tr>
                        <tr>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Mute Status"><img alt="Mute Status" src="{% static 'images/Mute_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.mute_efficacy }}</span></td>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Petrify Status"><img alt="Petrify Status" src="{% static 'images/Petrify_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.petrify_efficacy }}</span></td>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="AT_Delay Status"><img alt="AT_Delay Status" src="{% static 'images/AT_Delay_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.at_delay_efficacy }}</span></td>
                        </tr>
                        <tr>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Blind Status"><img alt="Blind Status" src="{% static 'images/Blind_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.blind_efficacy }}</span></td>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Faint Status"><img alt="Faint Status" src="{% static 'images/Faint_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.faint_efficacy }}</span></td>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Vanish Status"><img alt="Vanish Status" src="{% static 'images/Vanish_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.vanish_efficacy }}</span></td>
                        </tr>
                        <tr>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Sleep Status"><img alt="Sleep Status" src="{% static 'images/Sleep_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.sleep_efficacy }}</span></td>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="Confuse Status"><img alt="Confuse Status" src="{% static 'images/Confuse_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.confuse_efficacy }}</span></td>
                                <td colspan="2" style="white-space:nowrap"><span class="icon" title="S_Down Status"><img alt="S_Down Status" src="{% static 'images/S_Down_Status.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:3ch;text-align:right">{{ enemy.s_down_efficacy }}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="display: flex; margin-left:auto;margin-right:auto;">
                <div style="flex: 60%; padding: 5px;">
                    <table>
                        <tbody>
                        <tr><td colspan="6" class="article-table-sub-header"><h3>Skills</h3></td></tr>
                            {% for abilities in enemy.skills.all %}
                                <tr>
                                    <td colspan="3" style="padding-right: 20px;">
                                        {% if abilities.ability_type == 'Art' %}
                                            <span class="icon" title="Art Type"><img alt="Art Type Skill" src="{% static 'images/Art_skill.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span>
                                        {% endif %}
                                        {% if abilities.ability_type == 'Craft' %}
                                            <span class="icon" title="Craft Type"><img alt="Craft Type Skill" src="{% static 'images/Craft_skill.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span>
                                        {% endif %}
                                        {{ abilities.name }}</td>
                                    <td colspan="3" style="margin-left: auto; margin-right: auto;vertical-align: text-top;padding-right: 20px;">{{ abilities.desc }}</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div style="flex: 40%; padding: 5px;">
                    <table>
                        <tbody>
                            <tr><td colspan="12" class="article-table-sub-header"><h3>Sepith Drops</h3></td></tr>
                                <tr>
                                    <td colspan="2" style="white-space:nowrap; padding-right: 10px; padding-left: 10px;"><span class="icon" title="Earth Sepith"><img alt="Earth Sepith" src="{% static 'images/Earth_Sepith.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:2ch;text-align:right">{{ enemy.earth_sepith }}</span></td>
                                    <td colspan="2" style="white-space:nowrap; padding-right: 10px;padding-left: 10px;"><span class="icon" title="Water Sepith"><img alt="Water Sepith" src="{% static 'images/Water_Sepith.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:2ch;text-align:right">{{ enemy.water_sepith }}</span></td>
                                    <td colspan="2" style="white-space:nowrap; padding-right: 10px;padding-left: 10px;"><span class="icon" title="Fire Sepith"><img alt="Fire Sepith" src="{% static 'images/Fire_Sepith.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:2ch;text-align:right">{{ enemy.fire_sepith }}</span></td>
                                    <td colspan="2" style="white-space:nowrap; padding-right: 10px;padding-left: 10px;"><span class="icon" title="Wind Sepith"><img alt="Wind Sepith" src="{% static 'images/Wind_Sepith.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:2ch;text-align:right">{{ enemy.wind_sepith }}</span></td>

                                </tr>
                            <tr>
                                    <td colspan="2" style="white-space:nowrap; padding-right: 10px;padding-left: 10px;"><span class="icon" title="Time Sepith"><img alt="Time Sepith" src="{% static 'images/Time_Sepith.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:2ch;text-align:right">{{ enemy.time_sepith }}</span></td>
                                    <td colspan="2" style="white-space:nowrap; padding-right: 10px;padding-left: 10px;"><span class="icon" title="Space Sepith"><img alt="Space Sepith" src="{% static 'images/Space_Sepith.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:2ch;text-align:right">{{ enemy.space_sepith }}</span></td>
                                    <td colspan="2" style="white-space:nowrap; padding-right: 10px;padding-left: 10px;"><span class="icon" title="Mirage Sepith"><img alt="Mirage Sepith" src="{% static 'images/Mirage_Sepith.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:2ch;text-align:right">{{ enemy.mirage_sepith }}</span></td>
                                    <td colspan="2" style="white-space:nowrap; padding-right: 10px;padding-left: 10px;"><span class="icon" title="Mass Sepith"><img alt="Mass Sepith" src="{% static 'images/Mass_Sepith.png' %}" decoding="async" width="25" height="25" style="margin-left: auto; margin-right: auto;vertical-align: text-top;"></span><span style="display:inline-block;width:2ch;text-align:right">{{ enemy.mass_sepith }}</span></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% if enemy.boss %}
            <div style="display: flex; margin: auto;">
                <div style="flex: 100%; padding: 5px;">
                    <table>
                        <tbody>
                        <tr><td colspan="12" class="article-table-sub-header"><h3>Boss Notes</h3></td></tr>
                            <tr>
                                <td><p class="user-bio">{{ enemy.boss_notes }}</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
        <a href="/tocs" class="back-to-users" style="padding-bottom: 20px;"><i class="fas fa-arrow-left"></i> <span>Back to Database</span></a>

    </div>
{% endblock %}