{% extends 'layout.html' %}
{% load static %}
<!--TODO: Rename classes/profiles-->
<!--TODO: Figure out why title of page is 'test'-->
<!--TODO: Change Color Scheme-->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/get.css' %}" type="text/css" />
{% endblock %}


{% block content %}
    <div class="viewport">
        <header>
           <h1 class="page-title">TOCS Enemy Database</h1>
           <div class="path">{{ path }}</div>
            <!--TODO: This should lead back to the 'projects' page-->
           <a href="/" class="back-button"><i class="fas fa-arrow-left"></i> Back</a>
        </header>

        <div class="users-container">
            {% for places in location %}
                <button type="button" class="collapsible">{{ places.name }}</button>
                <div class="content">
                    <table class="users-table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Level</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for monster in enemy %}
                        {% if places.name == monster.location.name %}
                        <tr>
                            <td class="user-name"><a href="{{ monster.id }}"><span>{{ monster.name }}</span></a></td>
                            <!--TODO: Create page for location view-->
                            <td class="user-title"><span>{{ monster.location }}</span></td>
                            <td class="user-location"><span>{{ monster.level }}</span></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
{% endblock %}
