{% extends "index.html" %}

{% block header %}
<h1>Current Projects:</h1><br />
<p>Below is a list of all finished/ongoing projects. All projects below were made by <a href="/index/about_me">me</a> using the Python coding language.</p>

<h3>Completed/Previous Projects:</h3>
{% endblock %}
{% load static %}

{% block retired %}
<h3>Retired Projects</h3>
<section class="tiles" style="justify-content: center;">
	<article class="style2">
		<span class="image">
			<img width="353" height="330" src=" {% static 'images/pic02_flightaware.jpg' %} " alt="" />
		</span>
		<a href="/index/projects/flightaware">
			<h2>FlightAware Input Script</h2>
			<div class="content">
				<p></p>
			</div>
		</a>
	</article>
	<article class="style1">
		<span class="image">
			<img width="353" height="330" src=" {% static 'images/cs1.jpg' %} " alt="" />
		</span>
		<a href="/tocs">
			<h2>Trails of Cold Steel Enemy Database</h2>
		</a>
	</article>
</section>
{% endblock %}
