{% extends "index.html" %}

{% block header %}
<h1>Current Projects:</h1><br />
<p>Below is a list of all finished/ongoing projects. All projects below were made by <a href="/index/about_me">me</a> using the Python coding language.</p>

<h3>Completed/Previous Projects:</h3>
{% endblock %}

{% block titles %}
{% load static %}
<article style="margin: auto" class="style1">
  <span class="image">
    <img width="353" height="330" src=" {% static 'images/cs1.jpg' %} " alt="" />
  </span>
  <a href="/tocs">
    <h2>Trails of Cold Steel Enemy Database</h2>
  </a>
</article>
<article style="margin: auto" class="style2">
  <span class="image">
    <img width="353" height="330" src=" {% static 'images/pic02_flightaware.jpg' %} " alt="" />
  </span>
  <a href="flightaware">
    <h2>FlightAware Input Script</h2>
    <div class="content">
      <p></p>
    </div>
  </a>
</article>
{% endblock %}